body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
}

#progress {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#progress div {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    flex: 1 1 calc(33.33% - 40px); /* Adjusting the width dynamically */
    max-width: calc(33.33% - 40px); /* Setting a maximum width */
}

@media (max-width: 768px) {
    #progress div {
        flex: 1 1 calc(50% - 20px); /* Adjust width for small screens */
        max-width: calc(50% - 20px); /* Setting a maximum width for small screens */
    }
}

.workout {
    margin-bottom: 10px;
}

.complete {
    color: green;
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
