body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
}

#progress {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#progress div {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    flex: 1 1 calc(33.333% - 10px); /* Adjusting the width dynamically */
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

@media (max-width: 768px) {
    #progress div {
        flex: 1 1 calc(33.333% - 5px); /* Adjust width for small screens */
        padding: 5px;
        font-size: 0.9em;
    }
}

.workout {
    margin-bottom: 10px;
}

.complete {
    color: green;
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
